<mat-card mat-elevetaion-z1 class="login-register-card" color="primary">
  <mat-card-title>Registrieren</mat-card-title>
  <form class="example-form">
    <mat-form-field class="form-element">
      <input matInput name="firstname" placeholder="Vorname">
    </mat-form-field>
    <mat-form-field class="form-element">
      <input matInput name="lastname" placeholder="Nachname">
    </mat-form-field>
    <mat-form-field class="form-element">
      <input matInput type="email" name="email" placeholder="Email">
    </mat-form-field>
    <br />
    <mat-form-field class="form-element">
      <input class="form-element" name="password" matInput placeholder="Enter your password" [type]="hidePW ? 'password' : 'text'">
      <mat-icon matSuffix (click)="hidePW = !hidePW">{{hidePW ? 'visibility' : 'visibility_off'}}</mat-icon>
    </mat-form-field>
    <br />

    <button mat-raised-button color="accent">Registrieren</button>
  </form>
</mat-card>